*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.0)),url(background2.jpg) ;
    background-size: cover;
}
form{
    margin-top: 50px;
    text-align: center;
}
input{
    display: block; 
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid #966100;
    background: transparent;
    color: white;
}
button{
    width: 110px;
    padding: 10px 0;
    text-align: center;
    margin: 10px 5px;
    border-radius: 205px;
    font-weight: bold;
    border: 2px solid #966100;
     background:transparent;
     color: #fff;
     cursor: pointer;
     position: relative;
     overflow: hidden;
    }
    form h1{
        margin-bottom: 30px;
        color: white;
    }
    ::placeholder{
        color: white;
    }